@charset "utf-8";

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gauche {
  border-right: 1px solid #f6f7f9;
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.lgo {
  display: flex;
}

.lgo img {
  margin-right: 10px;
}

.lgo h1 {
  font-weight: 30px;
  margin-top: 33px;
}

.user {
  height: 100px;
  border-bottom: 2px solid #f6f7f9;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.mssga {
  display: flex;
  align-items: flex-end;
}

.mssga img {
  margin-right: 10px;
}

.dis {
  margin-top: -20px;
}

#rech {
  width: 90%;
}

.droites {
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.message-container {
  overflow-y: auto;
  height: 76vh;
  background-repeat: no-repeat;
  padding: 10px;
  background-color: #f6f7f9;
}

.bot-container {
  overflow-y: auto;
  height: 68vh;
  overflow-x: hidden;
}

.mssg {
  border-top: 2px solid #d9d9d9;
  height: 70px;
  padding: 0;
  margin: 0;
}

div {
  margin: 0px;
  padding: 0px;
}

.logo {
  width: 100px;
  margin-left: 30px;
}

.btn btn-outline-secondary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn btn-outline-secondary:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.card {
  margin-right: 15px;
  border-radius: 10px 10px 10px 0px;
}

.dis h2 {
  margin-left: 10%;
  margin-top: 40px;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

.row {
  margin-left: 0;
  padding-left: 0;
}

.you {
  color: black;
}

body {
  background-color: #ffffff;
}

.card {
  background-color: white;
}

#aa {
  background-color: #edf1fd;
  border-radius: 10px 10px 0 10px;
}

h2,
h3,
h5,
p {
  color: #112d4e;
}

.lista h5,
.lista p {
  color: white;
}

.list {
  width: 85%;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 5px;
  padding-bottom: 10px;
}

.gauche {
  padding: 0;
}

.image-container {
  margin-right: 10px;
}

.text-container {
  margin-left: 40px;
}

@media screen and (max-width: 900px) {
  .droites {
    display: none;
  }

  .gauche {
    width: 100%;
    margin-right: 0;
  }

  .image-container {
    margin-right: 0px;
  }

  .text-container {
    margin-left: 30px;
  }

  .dis {
    margin-top: -20px;
  }

  .list {
    width: 70%;
  }

  .lista {
    width: 70%;
  }

  .dis h2 {
    padding-top: 10px;
    padding-left: 10%;
  }

  .lgo h1 {
    font-weight: 28px;
  }
}

@media screen and (min-width: 901px) {
  .gauche {
    width: 25%;
    padding-right: 0;
  }
}