@charset "utf-8";

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gauche {
  border-right: 1px solid #f6f7f9;
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.lgo {
  display: flex;
}

.lgo img {
  margin-right: 10px;
}

.lgo h1 {
  font-weight: 30px;
  margin-top: 33px;
}

.user {
  height: 100px;
  border-bottom: 2px solid #f6f7f9;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.mssga {
  display: flex;
  align-items: flex-end;
}

.mssga img {
  margin-right: 10px;
}

.dis {
  margin-top: -20px;
}



.droites {
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.message-container {
  overflow-y: auto;
  height: 76%;
  padding: 10px;
  z-index: 1;
  

  background-image: url('https://static.vecteezy.com/system/resources/previews/007/144/718/large_2x/abstract-blue-pink-powder-explosion-on-white-background-free-photo.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.bot-container {
  overflow-y: auto;
  height: 68vh;
  overflow-x: hidden;
}

.mssg {
  border-top: 2px solid #d9d9d9;
  height: 70px;
  padding: 0;
  margin: 0;
}

div {
  margin: 0px;
  padding: 0px;
}

.logo {
  width: 100px;
  margin-left: 30px;
}

.btn btn-outline-secondary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn btn-outline-secondary:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.card {
  margin-right: 15px;
  border-radius: 10px 10px 10px 0px;
}

.dis h2 {
  margin-left: 10%;
  margin-top: 40px;
}

#rech {
  margin-left: 8%;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

.row {
  margin-left: 0;
  padding-left: 0;
}

.you {
  color: black;
}

body {
  background-color: #ffffff;
}

.card {
  background-color: white;
}

#aa {
  background-color: #edf1fd;
  border-radius: 10px 10px 0 10px;
}

h2,
h3,
h5,
p {
  color: #112d4e;
}

.lista h5,
.lista p {
  color: white;
}

.list {
  width: 85%;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 5px;
  padding-bottom: 10px;
}

.gauche {
  padding: 0;
}

.image-container {
  margin-right: 10px;
}

.text-container {
  margin-top: 10px;
}



.mainbg {
  display: flex;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.mainbg h1 {
  font-size: 100px;
  margin-left: -25px;
  margin-top: 90px;
  background-image: linear-gradient(to bottom right, #3c48ff, #C71585);
  -webkit-text-stroke: 1px black;
  background-clip: text;
  color: transparent;
}


.logob {
  width: 300px;
  margin-left: 30px;
}


.texte {
  display: flex;
  position: absolute;
  top: 90%;
  left: 60%;
  
  transform: translate(-50%, -50%);
}
.message-container {
  overflow-y: scroll;
  scroll-behavior: smooth; /* Cette propriété permet un défilement fluide */
}

.load-row {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.load-row span {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #f76002;
  border-radius: 50px;
  animation: up-down6 0.5s ease-in infinite alternate;
}

.load-row span:nth-child(2) {
  background: #e85b04c4;
  animation-delay: 0.16s;
}

.load-row span:nth-child(3) {
  background: #e85b0491;
  animation-delay: 0.32s;
}

.load-row span:nth-child(4) {
  background: #e85b0456;
  animation-delay: 0.48s;
}

@keyframes up-down6 {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}
#user_navbar h5{
  margin-left: 15px;
  margin-top: 20px;

}


#user_navbar{

  z-index: 999;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

}

@media screen and (max-width: 900px) {
  .droites {
    display: none;
  }

  .gauche {
    width: 100%;
    margin-right: 0;
  }

  .image-container {
    margin-right: 0px;
  }

  .text-container {
    margin-top: 10px;
    margin-left: 20px;
  }
  .text-container h5{
    font-size: 20px;

  }
  .text-container p{
    font-size: 18px;

  }
  .dis {
    margin-top: -20px;
  }

  .list {
    width: 90%;
  }


  .lista {
    width: 70%;
  }

  .dis h2 {
    padding-top: 10px;
    padding-bottom: 15px;
    
  }

  #rech {
    width: 85%;
  }

  .lgo h1 {
    font-weight: 28px;
  }


  #user_navbar {
    margin-left: 20px;
  }

  #user_navbar i{
    display: block;
    font-size: 22px;
    margin-top: 22px;
    margin-right: 13px;
  }

  .logo{
    margin-left: 7%;
    width: 100px;
    
  }
}

@media screen and (min-width: 901px) {
  .gauche {
    width: 25%;
    padding-right: 0;
  }
  #user_navbar i{
    display: none;
  }

  #rech {
    width: 85%;
  }

}

