body {
    margin: 0;
    padding: 0;
}

.mainbg {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .mainbg h1 {
    font-size: 100px;
    margin-left: -25px;
    margin-top: 90px;
    background-image: linear-gradient(to bottom right, #3c48ff, #C71585);
    -webkit-text-stroke: 1px black;
    background-clip: text;
    color: transparent;
}


.logob {
    width: 300px;
    margin-left: 30px;
}

.message-container {
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/144/718/large_2x/abstract-blue-pink-powder-explosion-on-white-background-free-photo.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    filter: brightness(150%);
}

.texte {
    display: flex;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }